/***************
*  SASS Main
****************/

@import "vendor/base";
@import "modules/base";
@import "partials/base";

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: $base-font-family;
    -webkit-font-smoothing: subpixel-antialiased
}

#main-container {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-bottom: -45px;
}

#main-page {
    height: 100%;
    width: 100%;

    .row {
        height: 100%;
        width: 100%;
        margin: 0;
    }
}

.container-fluid {
    flex-direction: row;
    padding-top: 56px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container-fluid {
        padding-bottom: 24px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}



div.hopscotch-bubble .hopscotch-nav-button.next,
div.hopscotch-bubble .hopscotch-nav-button.prev,
#skipTourBtn {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    background-image: none;

    &:hover {
        color: #fff;
        background-color: darken(#6c757d, 5%);
        border-color: #6c757d;
        background-image: none;
    }
}

.legal {
    font-size: x-small;
}

.introTarget {
    margin-left: 41%;
    height: 100px;
    width: 100px;
    z-index: 114;
    top: 100px;
    left: 100px;
    display: block;
    position: absolute;
}

.slider-selection {
    background: #BABABA;
}

.infoBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#layerChoice {
    margin-top: 10px;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
    outline: none;
}


ol {
    margin: 10px;
    font-size: 11.5px;

    li {
        margin-bottom: 10px;
    }
}
