/****************
* SASS Dashboard
*****************/

#dashboard {
    position: absolute;
    z-index: 1;
    margin: 15px;
    background: white;
    border-radius: 0;
    border: 1px solid rgba(128, 128, 128, 0.185);
    width: 650px;
    height: 150px;
    text-align: center;
    padding: 7px;
}

.container {
    display: inline;
}

.card-header {
    h6 {
        font-size: .9rem;
    }
}

.card-body {
    flex: none;
    padding: .9rem;
    margin-top: auto;
    margin-bottom: auto;
}

// .card-deck .card {
//     min-width: 90px;
// }
