/****************
* SASS Dashboard
*****************/

#dashboard {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: 1;
    margin-left: 100px;
    margin-top: 500px;
    margin-bottom: 10px;
    background: white;
    border-radius: 0;
    border: 1px solid rgba(128, 128, 128, 0.185);
    width: 650px;
    height: 200px;
    text-align: center;
    padding: 7px;


    .card {
        flex-direction: column;
        max-height: 155px;
    }

    .card-header {
        h6 {
            font-size: .9rem;
        }
    }
}
