<div class="container card-body">
    <div class="card-deck text-center">
        <div class="card shadow-sm">
            <div class="card-header">
                <h6 class="my-0 font-weight-normal">Number of Cases in Arizona</h6>
            </div>
            <div class="card-body">
                <p class="card-text"><small class="text-muted">326</small></p>
            </div>
        </div>
        <div class="card shadow-sm">
            <div class="card-header">
                <h6 class="my-0 font-weight-normal">Number of Deaths in Arizona</h6>
            </div>
            <div class="card-body">
                <p class="card-text"><small class="text-muted">5</small></p>
            </div>
        </div>
        <div class="card shadow-sm">
            <div class="card-header">
                <h6 class="my-0 font-weight-normal">Arizona Community Risk</h6>
            </div>
            <div class="card-body">
                <p class="card-text"><small class="text-muted">Increasing with some areas of heightened risk</small></p>
            </div>
        </div>
    </div>
</div>
