<div class="footerLinks">
    <!-- <hr> -->
    <p><a href="https://www.azmag.gov/" target="_blank">Maricopa Association of Governments</a>
        <br>
        Copyright&nbsp;&copy;&nbsp;<span class="copyright"></span><br>
        <span class="version"></span>&nbsp;|&nbsp;
        <a class="modal-anchor link" data-toggle="modal" data-target="#privacyModal"
            title="privacy">Privacy</a>&nbsp;|&nbsp;
        <a class="modal-anchor link" data-toggle="modal" data-target="#termsModal" title="Terms">Terms</a>&nbsp;|&nbsp;
        <a class="modal-anchor link" data-toggle="modal" data-target="#legalModal" title="Legal Disclaimer">Legal
            Disclaimer</a>
    </p>
</div>
