<nav class="navbar navbar-dark fixed-top bg-dark">
    <a href="https://azmag.gov/" target="_blank" title="AZMAG"><img class="mag-logo" src="img/mag_logo_white.png" alt="AZMAG Logo"></a>
    <p class="navbar-text">Arizona Healthcare Assets Map</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://www.azmag.gov/" target="_blank" title="MAG Main Page">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://maps.azmag.gov/" target="_blank" title="MAG Maps Page">Maps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#aboutModal" data-toggle="modal" title="About">About</a>
            </li>
        </ul>
        <!-- <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
    </div>
</nav>
