<div class="card" role=" document">
    <div id="" class="card-body">
        <i class="fas fa-question-circle infoBtn"></i>
        <a href="https://azmag.gov/" target="_blank" title="AZMAG"><img class="mag-logo" src="./img/MAG-logo800.jpg"
                alt="AZMAG Logo"></a>
        <h6 class="card-title">Arizona Healthcare Assets Map</h6>
        <div class="borderArea">
            <b>Population Metrics</b><br>
            <div id="populationMetrics"></div>
            <!-- <select class="selectpicker" name="rendererDropdown" id="rendererDropdown">
                    <option data-title="Vulnerability" value="Vulnerability">Vulnerability</option>
                    <option value="TOTAL_POP">Total Population</option>
                    <option data-title="Population in Poverty" value="Totoal_Pop_Under_Poverty">Population in Poverty</option>
                </select> -->
        </div>
        <div class="borderArea">
            <b>Healthcare Facilities</b>
            <div id="layersList"></div>
        </div>
        <p class="legal">Source: American Community Survey 2014-2018 5 year estimates, Maricopa Association of
            Governments and Arizona Department of Health Services</p>
    </div>
    <!--Footer section-->
    <footer class="footer-section"></footer>
</div>
