<div class="modal-dialog" role="document">
    <div id="sourceModal" class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">Source Information</h6><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;
                </span></button>
        </div>
        <div class="modal-body">
            <ul>
                <li><a href="https://www.census.gov/newsroom/press-releases/2019/acs-5-year.html" target="_blank">American Community Survey, 2014-2018 5 year estimates</a></li>
                <li><a href="https://www.census.gov/data/datasets/time-series/demo/popest/2010s-total-cities-and-towns.html" target="_blank">2018 Census Estimates</a></li>
                <li><a href="https://www.azdhs.gov/" target="_blank">Arizona Department of Health Services</a></li>
                <li><a href="https://systems.jhu.edu/research/public-health/ncov/" target="_blank">Johns Hopkins Center for Systems Science and Engineering</a></li>
                <li><a href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html" target="_blank">The New York Times</a></li>
                <li><a href="https://azmag.gov/" target="_blank">Maricopa Association of Governments</a></li>
            </ul>
            <div class="text-center sourceLogo">
                <img src="img/Census-ACSLogo.png" class="rounded" alt="...">
                <img src="img/adhs_logo.png" class="rounded" alt="...">
                <img src="img/university.logo.png" class="rounded" alt="...">
                <img src="img/the-new-york-times-logo.jpg" class="rounded" alt="...">
            </div>
            <div class="text-center sourceLogo">
                <img src="img/census-logo.jpg" class="rounded" alt="...">
                <img src="img/MAG-logo800.jpg" class="rounded" alt="...">
            </div>
        </div>
        <div class="modal-footer"><button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button></div>
    </div>
</div>
