<div class="modal-dialog" role="document">
    <div id="sourceModal" class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">Source Information</h6><button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;
                </span></button>
        </div>
        <div class="modal-body">
            <ul>
                <li>American Community Survey 2014-2018 5 year estimates</li>
                <li>Arizona Department of Health Services</li>
                <li>Johns Hopkins Center for Systems Science and Engineering</li>
                <li>Maricopa Association of Governments</li>
            </ul>

        </div>
        <div class="modal-footer"><button type="button" class="btn btn-secondary btn-sm"
                data-dismiss="modal">Close</button></div>
    </div>
</div>
