    <div class="modal-dialog" role="document">
        <div id="contactModal" class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Contact Information</h6><button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;
                    </span></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <address class="mag"><a class="mlogo" href="https://azmag.gov/" target="_blank"
                                    title="AZMAG"><img class="mag-logo" src="./img/MagIcon.png" alt="AZMAG Logo"></a>
                                <div class="flexCenter">
                                    <em class="fas fa-map-marked-alt"></em>
                                    <div class="marginLeft10">
                                        302 N 1st Avenue, Suite 300
                                        <br>Phoenix, Arizona 85219
                                    </div>
                                </div>
                                <div class="flexCenter">
                                    <i class="fas fa-phone"></i>
                                    <div class="marginLeft10">
                                        Phone: (602) 254-6300
                                    </div>
                                </div>
                                <div class="flexCenter">
                                    <i class="fas fa-link"></i>
                                    <div class="marginLeft10">
                                        Website: <a href="https://azmag.gov/" target="_blank"
                                            title="AZMAG">www.azmag.gov</a>
                                    </div>
                                </div>
                            </address>
                        </div>
                        <div class="col-sm">
                            <a href="https://maps.azmag.gov/" title="MAG maps page" target="_blank">
                                <img src="img/MAG_Maps_Icon_v4.png" alt="MAG maps" class="mapsIcon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-secondary btn-sm"
                    data-dismiss="modal">Close</button></div>
        </div>
    </div>
