<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div id="aboutModal" class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">About</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <p class="">MAG Mapping Center is committed to protecting your privacy and developing technology that gives
                you the most powerful and safe online experience. This Statement of Privacy applies to the MAG Mapping
                Center Web site and governs data collection and usage. By using the MAG Mapping Center website, you
                consent to the data practices described in this statement.</p>
            <h4>Collection of your Personal Information</h4>
            <p>MAG Mapping Center collects personally identifiable information, such as your e-mail address, name, home
                or work address or telephone number. MAG Mapping Center also collects anonymous demographic information,
                which is not unique to you, such as your ZIP code, age, gender, preferences, interests and favorites.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        </div>
        <footer class="footer-section"></footer>
    </div>
</div>
