<div class="modal-dialog modal-lg" role="document">
    <div id="dashboardModal" class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">COVID-19 in Arizona</h6><button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;
                </span></button>
        </div>
        <div class="modal-body">
            <div class="card-box container-fluid">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h6 class="my-0 font-weight-normal">Number of Cases in Arizona</h6>
                    </div>
                    <div class="card-body-1">
                        <p class="card-text"><small class="text-muted"><span id="cases"></span></small></p>
                    </div>
                </div>
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h6 class="my-0 font-weight-normal">Number of Deaths in Arizona</h6>
                    </div>
                    <div class="card-body-1">
                        <p class="card-text"><small class="text-muted"><span id="deaths"></span></small></p>
                    </div>
                </div>
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h6 class="my-0 font-weight-normal">Arizona Community Risk</h6>
                    </div>
                    <div class="card-body-2">
                        <p class="card-text"><small class="text-muted">Increasing with some areas of heightened
                                risk</small></p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
